In [1]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import numpy as np

In [2]:
url = "https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv"

df = pd.read_csv(url)

In [3]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [4]:
df.shape

(150, 5)

In [5]:
df['variety'].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

In [8]:
# Map the variety
variety_mapper = {'Setosa':0, 'Versicolor':1, 'Virginica':1}

In [10]:
# Encoding
df = df.replace(variety_mapper)

In [6]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [7]:
df.isna().sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

In [8]:
feature = df.iloc[:, 0:-1] # features/independent
target = df.iloc[:, -1] # target/dependednt

In [11]:
print("Feature shape: {}".format(feature.shape))
print("Target shape: {}".format(target.shape))

Feature shape: (150, 4)
Target shape: (150,)

In [12]:
X_train, X_test, y_train, y_test = train_test_split(feature, target, random_state=0)

In [13]:
print("X_train shape: {}".format(X_train.shape))
print("y_train shape: {}".format(y_train.shape))

X_train shape: (112, 4)
y_train shape: (112,)

In [14]:
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [15]:
X_example = np.array([[5.3, 3.7, 1.5, 0.3]])
print("X_example shape: {}".format(X_example.shape))

X_example shape: (1, 4)

In [20]:
prediction = knn.predict(X_example)
print("Flowers predict: {}".format(prediction))

Flowers predict: ['Setosa']

In [22]:
y_pred = knn.predict(X_test)
print("KNN test score: {:2f}".format(knn.score(X_test, y_test)))

KNN test score: 0.973684

In [23]:
def classifier(a, b, c, d):
    arr = np.array([[a,b,c,d]])
    arr = arr.astype(np.float64)
    query = arr.reshape(1, -1)
    prediction = knn.predict(query)
    return prediction

In [32]:
classifier(6.3, 2.7, 4.9, 2.3)

array(['Virginica'], dtype=object)