# Learning About Stack Unstack Function Pandas

[Link](https://www.datasciencemadesimple.com/reshape-using-stack-unstack-function-pandas-python/)

In [3]:
import pandas as pd
import numpy as np

In [8]:

header = pd.MultiIndex.from_product([['Semester1', 'Semester2'], ['Reverse Engineering', 'AI/ML']])

score = ([80, 78, 85, 90], [84, 80, 87, 90], [85, 91, 90, 92], [86, 91, 89, 88])

In [9]:
df = pd.DataFrame(score,
                  index=['Stephany', 'Peter', 'John', 'Clarissa'],
                  columns=header)

In [10]:
df

                   Semester1                 Semester2
         Reverse Engineering AI/ML Reverse Engineering AI/ML
Stephany                  80    78                  85    90
Peter                     84    80                  87    90
John                      85    91                  90    92
Clarissa                  86    91                  89    88

## Stacking dataframe

In [11]:
df_stack = df.stack()
df_stack

                              Semester1  Semester2
Stephany AI/ML                       78         90
         Reverse Engineering         80         85
Peter    AI/ML                       80         90
         Reverse Engineering         84         87
John     AI/ML                       91         92
         Reverse Engineering         85         90
Clarissa AI/ML                       91         88
         Reverse Engineering         86         89

## Unstacking dataframe

In [12]:
df_unstack = df_stack.unstack()
df_unstack

         Semester1                     Semester2
             AI/ML Reverse Engineering     AI/ML Reverse Engineering
Clarissa        91                  86        88                  89
John            91                  85        92                  90
Peter           80                  84        90                  87
Stephany        78                  80        90                  85

## Stack with level 0 (Columns semester)

In [13]:
df_stack_lv0 = df.stack(level=0)
df_stack_lv0

                    AI/ML  Reverse Engineering
Stephany Semester1     78                   80
         Semester2     90                   85
Peter    Semester1     80                   84
         Semester2     90                   87
John     Semester1     91                   85
         Semester2     92                   90
Clarissa Semester1     91                   86
         Semester2     88                   89

## Unstack again

In [14]:
df_unstack_lv0 = df_stack_lv0.unstack()
df_unstack_lv0

             AI/ML           Reverse Engineering
         Semester1 Semester2           Semester1 Semester2
Clarissa        91        88                  86        89
John            91        92                  85        90
Peter           80        90                  84        87
Stephany        78        90                  80        85